
{{extend 'layout.html'}}
<!-- need to source this in any view which has a LOAD chart -->
<script src="https://www.google.com/jsapi" type="text/javascript"></script>

<!-- Here, data and options same for both charts -->
<!-- user_signature works if using logged-in users ... not well tested -->
{{ data_url = URL('plugin_google_chart','plugin_return_data.json',user_signature=True)
  #options are documented at https://developers.google.com/chart/
  options ={'title':'Sales vs Expenses','width':0,'height':0}
          }}

<div class="span6">
{{=LOAD('plugin_google_chart','plugin_google_chart.load',ajax=True,
        user_signature=True,vars={'type':'bar','data_url':data_url,
        'options_dict':options})
}}
</div>

<div class="span6">
{{=LOAD('plugin_google_chart','plugin_google_chart.load',user_signature=True,ajax=True,
    vars={'type':'column','data_url':data_url,'options_dict':options})
}}
</div>